<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Register Page</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body style="padding-left:10px">
    <div style="width: 25%;">
        <h1>Register</h1>
        <form method="post" action="" id="app">
            <label><b>username: </b></label>
            <el-input type="text" name="username" v-model="username" required
                      maxlength="20" show-word-limit clearable></el-input><br>
            <label><b>password: </b></label>
            <el-input type="text" name="password" v-model="password" required
                      show-password clearable></el-input><br>
            <label><b>confirmed password: </b></label>
            <el-input type="text" name="confirmed_password" v-model="confirmed_password" required
                      show-password clearable></el-input><br>
            <br>
            <el-input type="submit" style="width:30%" value="Submit" @click="display"></el-input>
            {% if msg %}
            {{ msg }}
            {% endif %}
        </form>

        <br>
        <a style='text-decoration: none' href="{{ url_for('login') }}">Have account? login now~</a>
    </div>

</body>
<!-- import JavaScript -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript">
        var msg_show = "{{ msg }}";
        var app = new Vue({
            el: '#app',
            data: {
                msg: msg_show,
                username:'',
                password:'',
                confirmed_password:''
            },
            methods:{
                display:function(){
                    return this.msg
                }
            }
        })

    </script>
</html>